* {
  font-family: sans-serif;
}

.kurslar-general {
  width: 1100px;
  margin: 50px auto;
  padding: 50px;
}

table {
  font-size: 20px;
  width: 1100px;
  line-height: 35px;
}

table th {
  text-align: left;
}

table th img {
  width: 20px;
}

table a {
  text-decoration: none;
  color: gray;
}

table a:hover {
  color: #00cc00;
  text-shadow: 0px 5px 20px;
}
