* {
  font-family: sans-serif;
}

.second-gerenal {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 1100px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  /* position: fixed; */
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  background-color: white;
  /* border: 1px solid red; */
  padding: 130px 0px 30px;
}

.header-logo a img:hover {
  border: none;
}

header div a:hover {
  color: black;
  border-bottom: 5px solid #00ee00;
  padding: 0px 0px;
}

.pdp-logo {
  width: 150px;
  /* margin: 50px 0px; */
}

.twins-header {
  display: flex;
  justify-content: space-between;
  margin: 150px auto 0px;
}

.header-title {
  font-size: 50px;
  width: 480px;
  font-weight: bold;
  align-items: center;
  padding: 80px 0px;
}

.muhitda {
  color: #00ee00;
  margin: 0;
}

.header-video img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.header-video {
  position: relative;
}
.header-video span img {
  position: absolute;
  right: 25px;
  width: 100px;
}

/* section-111111111111111111111111111 */
.section-one {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.talim-turlari {
  position: relative;
  margin: 100px 0px 50px;
  width: 440px;
  padding: 50px;
  background-color: #f8f8f8;
}
.talim-turlari:hover {
  cursor: pointer;
  background-image: url(../img/abstract-white-rm309-adj-05.jpg);
  background-size: cover;
}

.talim-turlari img:nth-child(2) {
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  background-color: white;
}

.talim-turlari-paragraf {
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.talim-turlari-commit {
  color: grey;
  font-size: 120%;
  text-align: justify;
}

.talim-turlari-on {
  width: 500px;
  background-color: #f8f8f8;
  padding: 20px;
}

.talim-turlari-onn {
  position: relative;
  margin: 50px auto;
  width: 350px;
}

.talim-turlari-onn img {
  position: absolute;
  left: -50px;
}

a {
  margin: 0 auto;
  color: grey;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* section-22222222222222222222 */

/* .section-two {
  border: 1px solid blue;
} */

.yonalish-header {
  margin: 50px 0px 10px;
  padding: 50px 100px;
  background-color: #f8f8f8;
}
.yonalish-paragraf {
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0px;
}

.yonalish-commit {
  color: grey;
  font-size: 20px;
  line-height: 30px;
  width: 650px;
}

.yonalishlar-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.yonalishlar {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 50px;
  background-color: #f8f8f8;
  /* position: relative; */
  margin: 2px 0px;
}

.yonalishlar:hover {
  background-color: white;
  cursor: pointer;
  transition: 1s;
}

.yonalishlar-title {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.yonalishlar-soni {
  margin-top: 50px;
  color: grey;
}

.yonalishlar-ta {
  font-weight: bold;
  color: black;
}

.yonalishlar-bir {
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.yonalishlar-ikki {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  position: relative;
}
/* .yonalishlar-ikki img {
  width: 100px;
} */
.yonalishlar-ikki img:nth-child(1) {
  width: 50px;
  border-radius: 25px;
  margin-bottom: 50px;
  position: absolute;
  right: 0px;
}

.yonalishlar-ikki img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  width: 100px;
  left: -60px;
}
.yonalishlar-ikki img:nth-child(3) {
  position: absolute;
  right: 65px;
  bottom: 0px;
  width: 100px;
}
/* span {
  font-size: 50px;
  font-weight: bold;
  color: red;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
} */

/* section-333333333333333333333333 */

.section-three {
  padding-top: 50px;
  margin: 50px 0px;
  background-color: #f8f8f8;
}

.imtiyoz-twins {
  display: flex;
  justify-content: space-around;
}

.imtiyoz-about {
  padding: 170px 50px 0px;
}

.imtiyoz-title {
  font-size: 30px;
  font-weight: bold;
}

.imtiyoz-commit {
  margin: 30px 0px;
  color: grey;
  width: 400px;
  font-size: 20px;
}

.section-three img {
  width: 500px;
}

/* section-4444444444444444444444444 */

.section-four {
  background-color: #f8f8f8;
  padding: 50px 0px 50px;
  margin: 50px 0px;
}
.sertificate-twins {
  display: flex;
  justify-content: space-around;
}
.sertificate-twins img {
  width: 500px;
}
.sertificate-about {
  padding: 70px 50px;
}

.sertificate-about img {
  width: 120px;
}

.sertificate-about-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}

.sertificate-about-commit {
  font-size: 20px;
  color: grey;
  width: 400px;
}

/* section-5555555555555555555555 */

.section-five {
  background-color: #f8f8f8;
  padding: 50px;
  margin: 50px 0px 0px;
}

.section-five-title {
  font-weight: bold;
  font-size: 50px;
  margin: 50px 0px;
}

.talim-tizim {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.talim-tizim-qism {
  background-color: white;
  padding: 35px 20px;
  width: 250px;
  height: 480px;
  position: relative;
  margin: 20px 0px;
}

.talim-tizim-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0px;
  line-height: 40px;
}
.talim-tizim-commit {
  color: grey;
  text-align: center;
  line-height: 25px;
}

.talim-tizim-img {
  display: flex;
  justify-content: center;
}

.talim-tizim-qism img {
  width: 200px;
  position: absolute;
  bottom: 20px;
}

/* section-666666666666666666666 */

.section-six {
  margin: 100px 0px;
}

.mentor-title {
  font-size: 70px;
  font-weight: bold;
  margin: 50px 0px;
}

.mentor-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mentor-qism {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 320px;
  margin: 40px 0px;
  padding: 20px 0px;
  position: relative;
}

.mentor-img img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.mentor-name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px;
}

.mentor-about {
  color: grey;
}

.mentor-logo img {
  width: 100px;
  position: absolute;
  top: 250px;
  right: 70px;
}

/* section-777777777777777777777777 */

.section-seven {
  background-color: #f8f8f8;
}

.hamkor-twins {
  display: flex;
  justify-content: space-between;
}

.hamkor-about {
  padding: 150px 50px 50px;
}

.hamkor-png img {
  width: 30px;
}

.hamkor-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  margin: 40px 0px;
}

.hamkor-commit {
  color: grey;
  margin: 40px 0px;
  line-height: 30px;
  font-size: 20px;
}

.hamkor-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hamkor-logo-qism {
  background-color: white;
  width: 225px;
  height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.hamkor-logo-qism img {
  width: 100px;
}

/* section-footer */

footer {
  margin: 200px 0px 50px;
}

.footer-star {
  display: flex;
  justify-content: space-around;
}

.footer-yagona {
  margin: 5px 0px;
}

.footer-addres {
  color: grey;
  margin-top: 50px;
}

table {
  width: 500px;
  line-height: 30px;
}

table th {
  text-align: left;
}

.footer-five {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}

table a:hover {
  color: #00ee00;
  text-shadow: 0px 5px 10px grey;
}

.footer-five img:nth-child(1) {
  box-shadow: 0px 5px 20px grey;
  position: absolute;
  width: 70px;
  top: 20px;
  left: 35px;
}

.footer-five img:nth-child(2) {
  box-shadow: 0px 5px 20px grey;
  position: absolute;
  right: 35px;
  top: 10px;
  width: 80px;
}

.footer-five a {
  position: absolute;
  bottom: 0px;
  color: grey;
}

.footer-five a:hover {
  color: #00ee00;
  text-shadow: 0px 5px 10px grey;
}

/* end */

.end {
  border-top: 2px solid #f8f8f8;
  padding: 40px 0px 40px 20px;
}

/* section-8888888888888 */

.section-eight {
  background-color: #f8f8f8;
}

.pupil-general {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px 0px;
}

.pupil-about {
  padding: 80px 0px 50px 50px;
}

.pupil-about img {
  width: 50px;
}

.pupil-title {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0px;
}

.pupil-commit {
  color: grey;
  font-size: 20px;
  line-height: 30px;
}

.pupil-sertificate {
  color: grey;
  margin-top: 50px;
  font-size: 20px;
}

.pupil-sertificate img {
  width: 20px;
  margin-right: 10px;
}

.pupil-img {
  height: 400px;
  width: 700px;
  position: relative;
}

.pupil-img img:nth-child(1) {
  position: absolute;
  bottom: 320px;
  left: 170px;
}

.pupil-img img:nth-child(2) {
  position: absolute;
  bottom: 320px;
  right: 170px;
}

.pupil-img img:nth-child(3) {
  position: absolute;
  bottom: 240px;
  left: 100px;
}

.pupil-img img:nth-child(4) {
  position: absolute;
  bottom: 240px;
  left: 170px;
}

.pupil-img img:nth-child(5) {
  position: absolute;
  bottom: 240px;
  right: 170px;
}

.pupil-img img:nth-child(6) {
  position: absolute;
  bottom: 240px;
  right: 100px;
}

.pupil-img img:nth-child(7) {
  position: absolute;
  bottom: 160px;
  left: 30px;
}

.pupil-img img:nth-child(8) {
  position: absolute;
  bottom: 160px;
  left: 100px;
}

.pupil-img img:nth-child(9) {
  position: absolute;
  bottom: 160px;
  left: 170px;
}

.pupil-img img:nth-child(10) {
  position: absolute;
  bottom: 160px;
  right: 170px;
}

.pupil-img img:nth-child(11) {
  position: absolute;
  bottom: 160px;
  right: 100px;
}

.pupil-img img:nth-child(12) {
  position: absolute;
  bottom: 160px;
  right: 30px;
}

.pupil-img img:nth-child(13) {
  position: absolute;
  bottom: 80px;
  left: 100px;
}

.pupil-img img:nth-child(14) {
  position: absolute;
  bottom: 80px;
  left: 170px;
}

.pupil-img img:nth-child(15) {
  position: absolute;
  bottom: 80px;
  right: 170px;
}

.pupil-img img:nth-child(16) {
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.pupil-img img:nth-child(17) {
  position: absolute;
  bottom: 0px;
  left: 170px;
}

.pupil-img img:nth-child(18) {
  position: absolute;
  bottom: 0px;
  right: 170px;
}

/* ///////////////////////////////////////////////////////////////////////////// */

.dws {
  position: fixed;
  bottom: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
}
.pulse,
.bloc,
.phone {
  position: absolute;
  width: 90px;
  height: 90px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
}
.bloc {
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
}
.pulse {
  background: #00b533;
  position: relative;
  transition: 0.5s;
}
.phone {
  font-size: 50px;
  line-height: 94px;
  animation: phone 0.9s ease-in-out infinite;
}
.text {
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  font-weight: 700;
  top: 35px;
  left: 5px;
  font-size: 20px;
  transform: scaleX(-1);
  transition: 0.5s ease-in-out;
}
.phone i {
  transition: 0.5s ease-in-out;
}
.pulse:hover {
  background: #00b533;
}
.pulse:hover i {
  transition: 0.5s ease-in-out;
  transform: scale(0);
}
.pulse:hover .text {
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
  content: "";
  position: absolute;
  border: 1px solid #00b533;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
  opacity: 0;
}
.pulse:hover::after {
  animation-delay: 0.5s;
}

@keyframes phone {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(21deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
