* {
  font-family: sans-serif;
}
body {
  width: 1920px;
  background-image: url(../img/Android_16_01_12_1920x1080.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.main-div {
  width: 400px;
  margin-left: 150px;
  margin-top: 50px;
  margin-bottom: 100px;
}
header img {
  width: 200px;
}

.tizim-title {
  font-size: 40px;
  margin: 100px 50px 20px;
}
input {
  width: 300px;
  height: 40px;
  margin: 20px 50px;
  font-size: 20px;
}

input:hover {
  font-weight: bold;
}

.submit-enter {
  background-color: green;
  color: white;
}

.submit-enter:hover {
  background-color: rgb(1, 88, 1);
  cursor: pointer;
}

.parol-unut {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  animation: parol 2s infinite;
}

@keyframes parol {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
  100% {
    color: blue;
  }
}

.new-user {
  padding: 20px 0px;
  background-color: #e0e0e0;
  text-align: center;
  margin: 50px auto;
}

.new-user-a {
  color: green;
}
