* {
  font-family: sans-serif;
}
body {
  background-image: url("img/maountain-029.jpg");
  background-size: cover;
}
.general {
  width: 800px;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 50px 100px;
  box-shadow: 0px 10px 100px grey;
  margin-bottom: 100px;
}

.general img {
  width: 150px;
}

.tizim-kir {
  font-size: 50px;
  margin: 150px 0 50px;
}

.registr {
  width: 600px;
  margin: 0 auto;
  /* border: 1px solid green; */
}

input {
  width: 600px;
  height: 50px;
  background-color: #e5ffcc;
  font-size: 35px;
  margin: 20px 0;
}
input:hover {
  cursor: pointer;
  /* background-color: #b6ff66; */
  font-weight: bold;
}

.kirish-btn {
  width: 600px;
  height: 50px;
  background-color: #009900;
  color: white;
  font-size: 20px;
  margin: 20px 0;
  cursor: pointer;
}

.kirish-btn:hover {
  background-color: #005a00;
  font-size: 24px;
  font-weight: bold;
  animation: btn 1s infinite;
}

@keyframes btn {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
  100% {
    color: blue;
  }
}

.parol-unut {
  text-align: center;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: grey;
  animation: paroll 2s infinite;
}

@keyframes paroll {
  0% {
    color: red;
  }
  25% {
    color: rgb(255, 166, 0);
  }
  50% {
    color: yellow;
  }
  75% {
    color: green;
  }
  100% {
    color: blue;
  }
}
